html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    font-size: small;
}
body > .container {
    padding: 60px 15px 30px;
}
.table td, .table th {
    vertical-align: middle;
}

a.hide:link {
    text-decoration: inherit;
    color: inherit;
}
a.hide:visited {
    text-decoration: inherit;
    color: inherit;
}
a.hide:hover {
    text-decoration: underline;
    color: inherit;
}
a.hide:active {
    text-decoration: underline;
    color: inherit;
}

.pre {
    white-space: pre-wrap;
    font-family: monospace;
}
.block {
    display: block;
}

.json_string { color: green; }
.json_number { color: red; }
.json_boolean { color: blue; }
.json_null { color: magenta; }
.json_key { color: darkmagenta; }