aiohttp==3.0.5
amqp==2.2.2
appdirs==1.4.3
async-timeout==2.0.0
attrs==17.4.0
billiard==3.5.0.3
cached-property==1.4.0
celery==4.1.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
defusedxml==0.5.0
Flask==0.12.2
Flask-Redis==0.3.0
Flask-Script==2.0.6
freeze==1.0.10
hiredis==0.2.0
idna==2.6
idna-ssl==1.0.0
isodate==0.6.0
itsdangerous==0.24
Jinja2==2.10
kombu==4.1.0
lxml==4.1.1
Markdown==2.6.11
MarkupSafe==1.0
multidict==4.1.0
pytz==2018.3
redis==2.10.6
requests==2.18.4
requests-toolbelt==0.8.0
six==1.11.0
urllib3==1.22
vine==1.1.4
Werkzeug==0.14.1
yarl==1.1.1
zeep==2.5.0
