alembic==1.0.0
amqp==2.3.2
asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
billiard==3.5.0.4
celery==4.2.1
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
click==6.7
constantly==15.1.0
cryptography==2.3.1
cssselect==1.0.3
Flask==1.0.2
Flask-Humanize==0.3.0
Flask-Migrate==2.3.0
Flask-Redis==0.3.0
Flask-SQLAlchemy==2.3.2
html2text==2018.1.9
humanize==0.5.1
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
influxdb==5.2.0
itsdangerous==0.24
Jinja2==2.10
kombu==4.2.1
lxml==4.2.5
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
migrate==0.3.8
parsel==1.5.1
psycopg2==2.7.5
psycopg2-binary==2.7.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
python-dateutil==2.7.3
python-editor==1.0.3
pytz==2018.5
queuelib==1.5.0
redis==2.10.6
requests==2.19.1
requests-cache==0.4.13
Scrapy==1.5.1
service-identity==17.0.0
six==1.11.0
SQLAlchemy==1.2.11
SQLAlchemy-Utils==0.33.4
Twisted==18.9.0
urllib3==1.23
vine==1.1.4
w3lib==1.19.0
Werkzeug==0.14.1
zope.interface==4.6.0
