* * * * * root date >> /var/log/cron.log 2>&1
15,45 * * * * root /root/run.sh Hourly >> /var/log/cron.log 2>&1
# Don't remove the empty line at the end of this file. It is required to run the cron job