/*
 * Heavily based on the Pixyll theme
 */

a {
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 900;
    line-height: 1.2;
    margin: 1rem 0 0.7rem;
}

body {
    font-family: Merriweather, "PT Serif", Georgia, "Times New Roman", STSong, serif;
    font-weight: 400;
    margin: 8px;
    color: rgb(51,51,51);
    word-break: normal;
    word-wrap: break-word;
    padding: 0;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

body > div {
    max-width: 914px;
    margin: 0 auto;
}

ul {
    padding-left: 1.2em;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.1rem;
}

li {
    font-size: 1.1rem;
    line-height: 1.5;
}

pre, code {
    white-space: pre-wrap;
    font-family: Menlo,Monaco,"Courier New",monospace;
}

* {
    box-sizing: border-box;
}
